backend/tools/docking/p2rank/p2rank_2.5/jdk-17.0.15+6/lib/modules filter=lfs diff=lfs merge=lfs -text
backend/tools/docking/p2rank/p2rank_2.5/models/rescore_conservation/model.zst filter=lfs diff=lfs merge=lfs -text
backend/tools/docking/p2rank/p2rank_2.5/jdk-17.0.12/lib/modules filter=lfs diff=lfs merge=lfs -text
